body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: "Raleway", sans-serif;
    letter-spacing: normal;
}

* {
    box-sizing: border-box;
}

.section {
    width: 100%;
    margin: 0;
    overflow: auto;
}

.card-auto {
    width: 80%;
    margin: auto;
    overflow: auto;
    padding: 50px 0px;
}

.card-size {
    width: 33.33%;
    float: left;
    margin: 0;
    padding: 15px;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.cardimg {
    height: 300px;
    width: 100%;
    background-size: cover;
    margin: 0;
    position: relative;
    overflow: hidden;
}

.cardimg img {
    z-index: 0;
}

.card-size:hover .cardimg img {
    transform: scale(1.1);
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

.card-size:hover .cardimg {
    transition-property: all;
    transition-duration: 0.6s;
    transition-timing-function: ease-in-out;
}

.member-name {
    background-color: #e6e6e6;
    margin: 0;
    padding: 10px;
    overflow: hidden;
}

.member-name ul {
    padding: 0px;
    margin: 0;
}

.member-name ul li {
    display: inline-block;
    padding: 0px 10px;

}

.member-name a {
    padding: 15px;
    font-size: 24px;
}

.opacity {
    height: 0px;
    width: 100%;
    display: grid;
    opacity: 0;
    justify-content: center;
    align-content: center;
    position: absolute;
    transition-property: all;
    transition-duration: 0.6s;
    transition-timing-function: ease-in-out;
    z-index: 5;
}

.card-size:hover .opacity {
    opacity: 0.9;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    height: 100%;
    width: 100%;
    background-color: #e6e6e6;
}

.list {
    opacity: 0;
    transform: translateY(0px);
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.member-name:hover .list {
    opacity: 1;
    transform: translateY(-30px);
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-delay: 0.2s;
}

.doc-name {
    transform: translateY(0px);
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.member-name:hover .doc-name {
    transform: translateY(-55px);
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}

.doc-name h6 {
    text-transform: capitalize;
    color: #696f78;
    font-size: 18px;
    font-weight: 700;
    margin: 0;
    padding: 5px 0px;
}

.doc-name p {
    text-transform: capitalize;
    color: #696f78;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
}

.opacity h4 {
    color: #696f78;
    font-size: 20px;
    font-weight: 700;
    line-height: 40px;
    margin: 0px 90px 10px 90px;
    width: 52%;
    border: 1px solid red;
    padding: 5px 2px;
}

.opacity span {
    color: #696f78;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    margin: 0;
    padding: 8px 0px;
}

.opacity p {
    color: #373a3f;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    margin: 0;
    padding: 3px 30px;
}
